<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Moments/username/profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.0.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
    .actions {
      position: absolute;
      top: 8px;
      right:5px;
      font-size: 18px;
    }  
    </style>
  </head>
  <body>
    <!--Container Starts-->
    <div class="container">
      <!--Define The Row -->
      <!--Row Starts-->
      <div class="row mt-3 flex-nowrap justify-content-between align-items-center">
        <!--First Col Starts-->
        <div class="col-3">
              <!--Side Bar Starts-->
              <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary">Home</button>
                <button type="button" class="btn btn-primary">Notification <span class="badge badge-danger">4</span></button>
                <button type="button" class="btn btn-primary">My Profile</button>
                <button type="button" class="btn btn-primary">Log Out</button>
                <button type="button" class="btn btn-primary">Moments</button>
              </div>
              <!--Side Bar ends-->
        </div>
        <!--First Col Ends-->

        <!--Second Col Starts-->
        <!--This col should contains post form and post lists-->
        <div class="col-6">
                <!--Post Card Starts-->        
                <div class="card" style="width:400px">
                    <!--Profile Starts-->
                    <img class="card-img-top" src="background2.png" alt="Card image cap">
                    <div class="card-body">
                        <img class="card-img-top" src="avatar.png" alt="Card image cap" style="width:50px">
                      <h5 class="card-title">John Doe</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" >Friends <span class="badge">32</span></a> 
                      <a href="#" >Follows <span class="badge">50</span></a>
                    </div>
                    <!--Profile Ends-->
                </div>
                <!--Post Card Ends-->    
                <!--Post Lists Start-->
                <div class="post-lists">
                    <h4>Posts</h4>
                    <!--Single Post Starts-->
                    <div class="single-post">
                        <!--Post List Card Starts-->
                        <div class="card" style="width:400px">
                            <div class="user-box">
                                <!--Avatar Starts-->
                                  <div class="avatar-image">
                                      <img class="card-img-top" src="avatar.png" alt="Avatar" style="width:50px">
                                  </div>
                                <!--Avatar Ends-->
                                <div class="display-name">
                                    <h5 class="title">James Doe</h5>
                                </div>
                            </div>


                            <!--Post Body Starts-->
                            <div class="card-body">

                              <div class="post-date">
                                <h6 class="card-subtile">Sunday, February 23, 2020</h3>
                                <br>
                              </div>
                              <div class="post-content">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                              <div class="post-image">
                                  <img class="card-img-bot" src="backgroud6.jpg" alt="Upload Image" style="width:200px">
                              </div>
                            </div>
                            <!--Post Body Ends-->
                            <!--Actions Start-->
                            <div class="actions">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Actions
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Edit</a>
                                      <a class="dropdown-item" href="#">Delete</a>
                                      <a class="dropdown-item" href="#">Follow</a>
                                      <a class="dropdown-item" href="#">Unfollow</a>
                                    </div>
                                </div>
                            </div>
                             <!--Actions Ends-->

                        </div>
                        <!--Post List Card Ends-->
                    </div>
                    <!--Single Post ends-->
                 </div>
                 <!--Post Lists End-->

        </div>

        <!--The Third Columns-->
        <div class="col-3 d-none d-xl-block">
            <div class="search-bar">
                <form class="form-inline">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                      aria-label="Search">
                </form>
            </div>
            <div class="trend-list">
                <h3>Trends</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">To ...</li>
                    <li class="list-group-item">To ...</li>
                    <li class="list-group-item">To ...</li>
                    <li class="list-group-item">To ...</li>
                    <li class="list-group-item">To ...</li>
                </ul>
            </div>
            <div class="who-to-follow">
              <h3>Who To Follow</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">To ...</li>
                    <li class="list-group-item">To ...</li>
                    <li class="list-group-item">To ...</li>
                    <li class="list-group-item">To ...</li>
                    <li class="list-group-item">To ...</li>
                </ul>
            </div>

        </div>
        <!--Third Col Ends-->
      
      </div>
       <!--Row Ends-->
    </div>
    <!--Container Ends-->
  </body>




  
</html>