/* Style for Setting background */
body {
  margin: 0;
  padding: 0;
  background-color: #003333;
  font-family: sans-serif;
  height: 100vh;
}

.signup-box {
  display: block;
  width: 500px;
  height: 420px;
  background: #47C48C;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  margin: -50px;
}

.form-container h1{
  margin-top: -30px;
  padding: 0;
  position: absolute;
  font-weight: bold;
  display: block;
  color: #333333;

}
.form-container label{
  margin-top: 40px;
  padding: 0;
  position: absolute;
  font-weight: bold;
  display: block;
  
}
.form-container input{
  margin-top: 50px;
  padding:0;
  position: relative;
  width: 100%;
}
.form-container ::placeholder  { 
  color: #333333;
  opacity: 1;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

/* Set a style for the submit/login button */
.form-container .btn {
  border: none;
  outline: none;
  height: 40px;
  background: #333333;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.form-container .cancel {
  border: none;
  outline: none;
  height: 40px;
  background: #333333;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

/* Add some hover effects to buttons */
.login-box input[type="button"]:hover {
  cursor: pointer;
  background: hsl(357, 100%, 51%);
  color: #000;
}
/* Set a style for all buttons */
button {
  background-color: #333333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #ffc107;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



