<div class="comment-card">
    <li>
        <div class="comment-content">
            {{ comment.content }}
            <br>
            <div class="comment-author">
                {{ comment.author.displayName }}
                <span id="timestamp">{{ comment.pub_date }}</span>
                {% if comment.author == request.user %}
                    <form action="{% url 'posting:delete comment' post.id comment.id%}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Delete">
                    </form>
                {% endif %}
            </div>
        </div>

    </li>
</div>