{% if request.user.is_authenticated %} 
   <div class="card" style="width: 600px;">
        <h4> Comments</h4>
        {% if post %}  
        <form action="{% url 'posting:comment events' post.id %}" method="POST">
            {% csrf_token %}
            <div>   
                <input class="textarea form-control float-none" rows="4" cols="50" type="text" name="comment" style="width: 400px;margin: 0 auto;"></input>
                <input class='btn btn-primary float-right'  type="submit" value="Comment"></input>
            </div>
        </form>
        {% endif %}
    <script>
        document.getElementById("global-home").setAttribute("href","{% url 'posting:view public posts' %}")
    </script>
</div>
{% endif %} 
