<!DOCTYPE html>
<html lang="en">    
    {%include 'posting/base.html'%}
    <body>
            {% include 'posting/navbar.html' %}
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        {% block shortProfile %}
                        {% endblock %}
                    </div>
                    <div class="col-8">
                        <div class="row">
                            {% block newPost %}
                            {% endblock %}
                        </div>
                        <div class="row">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>