<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>My Post</title>


</head>

<body>
    <h1>My Post</h1>
    <form action="{% url 'posting:home page' user%}" method="get">
        <button type="submit">Home</button>
    </form>

    {% if my_post_list %}
    <ul>
        {% for post in my_post_list %}
        <li><a href="{% url 'posting:post detail' user.username post.id %}">Modify This Post</a></li>
        <li>{{ post.content }}</li>
        <li>{{ post.visibility }}</li>
        <li>-----Posted on:{{ post.pub_date }}</li><br>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>