<div class="card" style="width:600px">
    <div class="card-body">
      <a class="displa-name" href="{% url 'accounts:view profile' post.author.id %}">{{post.author.displayName}}</a>
      <br>
      <span id="timestamp">{{ post.published|timesince }} ago</span>
      <div class="card-title">
          <p style="font-size: larger;">{{ post.title }}</p></p>
      </div>
      <a  class="" href="{% url 'posting:view post details' post.id %}" style="font-size: small;" >Read More</a>
    </div>
</div>