<div class="post-card">
    <h4 class="display-name"><b>{{ post.author.displayName }} </b> <span id="timestamp">{{ post.pub_date|timesince }} ago</span></h4> 
    <div class="post-content">
        <h5>Title: {{post.title}}</h5>
        <p>Category: {{post.category}}</p>
        <p>Content:</p>
        <div class="post-content">
            <p>{{ post.content }}</p>
        </div>
        <div class="post-action">
            {% if post.author == request.user %}
            <a href="{% url 'posting:delete post' post.id %}">Delete</a>
            {% endif %}
        </div>
    </div>
</div>