
<div class="card" style="width: 600px;height:300px">
    <div class="card-body">
        <div class='card-title'>
            <h4 class="post-tile"><b>{{ post.author.displayName }} </b> <span id="timestamp">{{ post.pub_date|timesince }} ago</span></h4> 
        </div>
        <div class="card-subtile">
            <h5>Title: {{post.title}}</h5>
            <h5>Category: {{post.category}}</h5>
        </div>
            <div class="card-content">
                <p><span>   </span>{{ post.content }}</p>
            </div>
            <div class="post-action">
                {% if post.author == request.user %}
                <a class="btn btn-primary" href="{% url 'posting:delete post' post.id %}">Delete</a>
                {% endif %}
            </div>
        </div>

</div>