<div class="card" style="width: 300px;">
    <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
    <div class="card-body">
    <h3 class="card-title">{{request.user.displayName }}</h3>
    <p class="card-text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="padding: 0;"><span style="font-weight: bold;">Email:</span><br>{{ request.user.email }}</li>
            <li class="list-group-item" style="padding: 0;"><span style="font-weight: bold;">Bio:</span><br>{{ request.user.bio }}</li>
            <li class="list-group-item" style="padding: 0;"><span style="font-weight: bold;">Github:</span><br>{{ request.user.github }}</li>
            <li class="list-group-item" style="padding: 0;"><span style="font-weight: bold;">Date Jointed:</span><br> {{ request.user.date_joined }}</li>
            <li class="list-group-item" style="padding: 0;"><span style="font-weight: bold;">Last Login:</span><br>{{ request.user.last_login }}</li>
        </ul>
    </p>
    <div id="user-menu">
        <a href="{% url 'accounts:view profile' request.user.id %}" class="btn btn-outline-primary btn-block">My Profile</a>
        <a href="{% url 'friendship:get friends list' request.user.id %}" class="btn btn-outline-primary btn-block">My Friends</a>
        <a href="{% url 'posting:view user posts' request.user.id %}" class="btn btn-outline-primary btn-block">My Posts</a>
    </div>

    </div>
</div> 