{% extends 'posting/base.html' %}
{% block content %}
    <h1> All Public Posts {{ request.user.host }}</h1>
    {% if public_post_list %}
        <ul>
            {% for post in public_post_list %}
            <li>
                <div id="post-card" class="card">
                    <div class="container">
                        <h4 class="display-name"><b>{{ post.author.displayName }} </b> <span><small><i>Posted {{ post.pub_date|timesince }} ago</i></small></span></h4> 
                        <div class="post-content">
                            <p>{{ post.content }}</p>
                            <a href="{% url 'posting:view post details' post.id %}">Read More</a>
                        </div>
                       
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Public posts... Go make some!</p>
    {% endif %}
{% endblock %}
  
{% block newPost %}
    {% if request.user.is_authenticated %}
        <div class="card"> 
            <form action="." method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Post">
            </form>

        </div>

    {% endif %}
{% endblock %}