{% extends 'posting/homepage.html' %}

{% block shortProfile %}  
    {% if request.user.is_authenticated %} 
        <div class="short-profile" >
            {% include 'posting/profile-card.html' with request=request %}
        </div>
        <script>
            document.getElementById("nav-third").innerHTML="Log Out"
            document.getElementById("nav-third").setAttribute("href","{% url 'accounts:logout' %}")
        </script>
    {% else %}
        <script>
            document.getElementById("global-home").innerHTML="Sign In"
            document.getElementById("global-home").setAttribute("href","{% url 'accounts:login' %}")
            document.getElementById("nav-third").innerHTML = "Sign Up"
            document.getElementById("nav-third").setAttribute("href", "{% url 'accounts:sign up' %}")
        </script>
    {% endif %}  
{% endblock %}

{% block content %}
    <ul> 
        <div id="newposts"></div>   
    {% if post_list %} 
            {% for post in post_list %}
            <li>
                {% include 'posting/post-inline-view.html' with post=post %}                 
            </li>
            {% endfor %}
        </ul>
    {% else %}
      
    {% endif %}
{% endblock %}

{% block newPost %}
    {% if request.user.is_authenticated %}
    <div style="text-align:center;">
    <h1>Welcome Back {{ request.user.displayName }} !</h1>
    </div>
    <div class="card" style="width: 600px;">
        <form method="POST" class="post-form" enctype="multipart/form-data" id='post-form'>
            <div class="form-group">
                <input type="text" name="title" style="width:500px;" placeholder="Enter title" required="" id="id_title">
            </div>
            <div class="form-group">
                <textarea name="content" cols="50" rows="30" class="textarea form-control" style="resize:none;width:500px;" placeholder="What's Happenning?" required="" id="id_content"></textarea>
            </div>
            <div class="container" style="margin-top: 10px;">
                <div class="btn-group">
                <button type="button" name="categories" data-toggle="collapse" href="#post-form-category-input" role="button" aria-expanded="false" aria-controls="post-form-category-input" class="btn btn-outline-primary btn-sm">Categroy</button>
                </div>
                <div class="btn-group">
                    <select name="contentType" id="id_contentType" class="selectpicker" data-style="btn-outline-primary btn-sm" data-width="120px" tabindex="-98">
                        <option value="image/png;base64">Image/png</option>    
                        <option value="image/jpeg;base64">Image/jpeg</option>  
                        <option value="text/plain" selected="">Plain text</option>
                        <option value="text/markdown">Markdown</option>
                        <option value="application/base64">Application</option>
                      </select>
                </div>
                <div class="btn-group">
                    <select name="visibility" id="id_visibility" class="selectpicker" data-style="btn-outline-primary btn-sm" data-width="fit" tabindex="-98">
                        <option value="PUBLIC" selected="">PUBLIC</option>    
                        <option value="PRIVATE">PRIVATE</option>
                        <option value="FRIENDS">FRIENDS</option>
                        <option value="FOAF">FOAFs</option>
                        <option value="SERVERONLY">SERVERONLY</option>
                    </select>
                </div>
                <div class="btn-group">
                    <select name="unlisted" id="id_unlisted" class="selectpicker" data-style="btn-outline-primary btn-sm" data-width="fit" tabindex="-98">
                        <option value="True">Unlisted</option>
                        <option value="False" selected="">Listed</option>
                    </select>
                </div>
                <script>
                    let host = "{{ request.user.host }}"
                    let url = host+'friends/'
                    $( document ).ready(function() {
                        $.ajax({
                            url: url,
                            type:'GET',
                            dataType: "json",
                            success: function(data) {
                                let friends = data['friends'];
                                for (let friend of friends){
                                    let f_url = friend['url'];
                                    let f_name = friend['displayName'];
                                    let o =`
                                        <option value="${f_url}">${f_name}</option>
                                    `;
                                    $("#id_VisibleTo").append(o);
                                }
                                $("#id_VisibleTo").selectpicker("refresh");
                            }
                        });
                        
                    });
                </script>
            </div>
            <div class="form-group">
                <div class="collapse" id="post-form-category-input" style="margin-top: 10px;margin-left: 50px;">
                    <input type="text" name="categories" class="form-control" style="width:500px;" placeholder="Enter categories,spread by #" id="id_categories">
                </div>
            </div>
            <div class="btn-group">
                <select name="visibleTo" id="id_VisibleTo" multiple class="selectpicker" data-style="btn-outline-primary btn-sm" data-width="fit" tabindex="-98">
                <div></div>
                </select>
            </div>
            <div>
                <input type="file" name="image" accept="image/*" id="id_image">
            </div>
            <div>
                <input type="submit" value="Post" id='post-form-btn-submit' class="btn btn-primary float-right" style="width: 80px;margin-right: 10px;margin-bottom: 10px;">
                <input id='cancel_btn' type="button" name="clear" class="btn btn-danger float-right" value="Cancel" style="margin-right: 5px;">
            </div>
        </form>
        <script>
        $(document).on('submit', '#post-form',function(e) {
            console.log("Form Sent");
            e.preventDefault(); 
            var file = document.querySelector('input[type=file]');
            var formData = new FormData();
            formData.append('title',$('#id_title').val().trim());
            formData.append('content',$('#id_content').val().trim());
            formData.append('visibility',$('#id_visibility').val().trim());
            formData.append('contentType',$('#id_contentType').val().trim());
            formData.append('unlisted',$('#id_unlisted').val().trim());
            formData.append('categories',$('#id_categories').val().trim());
            formData.append('visibleTo',$('#id_VisibleTo').val());
            formData.append('csrfmiddlewaretoken','{{ csrf_token }}');
            if (file.files[0]){
                image = file.files[0];
                formData.append('image',image);
            }
        $.ajax({
                url:'.',
                type: 'POST',
                dataType: 'json',
                data:formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    let id = data['author']['id'];
                    let host =data['author']['host'];
                    let url = host +'accounts/author/profile/'+id.substring(id.lastIndexOf('/') + 1);
                    let displayName = data['author']['displayName'];
                    let title = data['title'];
                    let origin = host + 'posts/' + data['id'];
                    var html = `
                    <div class="card" style="width:600px">
                    <div class="card-body">
                    <a class="displa-name" href="${url}">${displayName}</a>
                    <br>
                    <span id="timestamp">  Just now </span>
                    <div class="card-title">
                        <p style="font-size: larger;">${title}</p></p>
                    </div>
                    <a  class="" href="${origin}" style="font-size: small;" >Read More</a>
                    </div>
                    </div>
                    `;
                    $("#newposts").prepend(html);
                    reset_form();
 
                },
                failure: function(data) {
                    let error_message = 'Got an error dude' + data; 
                    alert(error_message);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert(textStatus + jqXHR.responseText);
                }
        });
        });
        
        $('#cancel_btn').click( function(){
            reset_form();
        }); 
        function create_post() {
            var host_name ="{{ request.user.host }}";
            post_url = host_name+'posts/';

        };
        function reset_form(){
            document.getElementById("post-form").reset();
            $("#id_visibility").val('PUBLIC');
            $("#id_visibility").selectpicker("refresh");

            $("#id_contentType").val('text/plain');
            $("#id_contentType").selectpicker("refresh");

            $("#id_unlisted").val('False');
            $("#id_unlisted").selectpicker("refresh");
        };
            $('#id_unlisted option:contains("False")').text('Unlisted');
            $('#id_unlisted option:contains("True")').text('Listed');
        </script>
    </div>
    {% endif %}
{% endblock %}