<form action="{% url 'friendship:delete friend' %}" method='POST'> {% csrf_token %}
<div class="card" style="width: 600px; height: 75px;">
    <div class="card-body">
            <img src="https://avatars.dicebear.com/v2/jdenticon/{{ friend.displayName }}.svg" id="imgProfile" style="width: 40px; height: 40px ;border-radius:50%;"/>
            <a href="{% url 'accounts:view profile' friend.id %}" class="text-dark font-weight-bold" style="text-decoration: none; font-size: large; display: inline;"> {{ friend.displayName }} </a>           
            <input type="hidden" name="friend_id" value="{{ friend.id }}"></input>
            <input type="submit" class="btn btn-danger btn-sm float-right" value="Unfriend"></input>       
    </div>
</div>
</form>