<!DOCTYPE html>
<html >
    
    {% include 'posting/base.html' %}
    <body>
        {% include 'posting/navbar.html' %}
     
        {% if friend_requests %}
            <ul>
            {% for req in friend_requests %}
                <li>
                <div class="card" style="width:500px; height: 200px; text-align:center; margin: 0 auto; float: none;">
                   
                    <div class="card-body">
                        <div class="card-title"><h4>New Friend Request</h4></div>
                        <div class="card-subtitle"><h4>From {{ req.author_from.displayName }}</h4></div>
                        <!--Debug: {{ req.author_to.displayName }}-->
                        <form action="{% url 'friendship:accept request' %}" method="POST"> {% csrf_token %}
                            <input type="hidden" name="request_id" value="{{ req.id }}"></input>
                            <input style="width: 78px" class="btn btn-primary" type="submit" value="Accept"></input>
                            <a  style="width: 78px" class="btn btn-primary" href="#">Deny</a>
                        </form>
                    </div>
 
                </div>
        
                </li>
            {% endfor %}
            </ul>
        {% else %}
        <div class="card">
            <div class="card-tile">
                No Friend Requests
            </div>
        </div>
        {% endif %}

        
    
    
    </body>











</html>


