<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Sing in</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="{% static 'accounts/signin.css' %}" />
  </head>
  <body>
    <div class="login-box">
      <!--<img src='background5.png' class="avatar" alt="Avatar Image">-->
      <img src='background3.png' class='background',alt='background image'>
      <form id='signinForm'>
        <!-- USERNAME INPUT -->
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username">
        <!-- PASSWORD INPUT -->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password">
        <input type="submit" value="Log In">
        <a href="#">Lost your Password?</a><br>
        <a href="#">Don't have An account?</a>
      </form>
    </div>
  </body>
</html>