{%include 'posting/base.html'%}
{%include 'posting/navbar.html'%}

<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                {% if avatar %}
                                    <img src="{{ avatar.url }}" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                {% else %}
                                    <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                {% endif %}
                                <div class="middle">
                                    {%  if  not request.user.is_authenticated  %}
                                    
                                    {% else %}
                                        {% if request.user.id != id  %}
                                            <form action="{% url 'friendship:friend request' %}" method="POST"> {% csrf_token %}
                                                <input type="hidden" name="friend_from_friend_id" value="{{ request.user.id }}"></input>
                                                <input type="hidden" name="friend_from_friend_displayName" value="{{ request.user.displayName }}"></input>
                                                <input type="hidden" name="friend_from_friend_url" value="{{ request.user.url }}"></input>
                                                <input type="hidden" name="friend_from_friend_host" value="{{ request.user.host }}"></input>

                                                <input type="hidden" name="friend_to_friend_id" value="{{ id }}"></input>
                                                <input type="hidden" name="friend_to_friend_displayName" value="{{ displayName }}"></input>
                                                <input type="hidden" name="friend_to_friend_url" value="{{ url }}"></input>
                                                <input type="hidden" name="friend_to_friend_host" value="{{ host }}"></input>
                                                <div style="margin-top: 10px;">
                                                    <input type="submit" class="btn btn-primary" id="btnRequest" value="request" />
                                                </div>
                                               
                                            </form>
                                        {% else %}
                                        <div style="margin-top: 10px;">
                                            <input type="button" class="btn btn-primary" id="btnChange" value="Change" />
                                        </div>
                                            <input type="file" style="display: none;" id="profilePicture" name="file" />
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a href="javascript:void(0);">{{ displayName }}</a></h2>
                                <h6 class="d-block"><a href="javascript:void(0)">#</a> Posts</h6>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                </li>
                            </ul>
                            <form class="change-form", action="{% url 'accounts:view profile' request.user.id %}", method="POST"> {% csrf_token %}
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Display Name</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    <input type="text" id="display-input" name="displayName" class="form-control classname" value="{{ displayName }}" readonly />                                      
                                                </div>
                                            </div>

                                            <hr />

                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Date Joined</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    <input type="text" class="form-control classname" value="{{ joined_date }}" readonly />  
                                                </div>
                                            </div>
                                            <hr /> 

                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Bio</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    <input type="text"  id="bio-input" name="bio" class="form-control classname" value="{{ bio }}" readonly />                                           
                                                </div>
                                            </div>
                                            <hr />

                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Github</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    <input type="text" id="github-input" name="github" class="form-control classname" value="{{ github }}" readonly />      
 
                                                </div>
                                            </div>
                                            <hr />

                                            <div class="row">

                                                <button type="submit" class="btn btn-primary" id="submit-btn" style="display: none;">Submit</button>
                                            </div>
                                            <hr />
                                                                             
 
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
 
{% if post_list %}
<h1>Post list:</h1>
    {% for post in post_list %}
        {% include "posting/post-full-view.html" with post=post %}
    {% endfor %}
{% endif %}
<script>
    document.getElementById('btnChange').onclick = function() {
        document.getElementById('display-input').removeAttribute('readonly');
        document.getElementById('bio-input').removeAttribute('readonly');
        document.getElementById('github-input').removeAttribute('readonly');
        document.getElementById("submit-btn").style.display="block"
    };
</script>